# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL='mysql://pgm9k0bcjcm84wq9r0xd:pscale_pw_7iitLWPS2ifpVKHrCE89PtUOwCI1NydSusH2ctRzKJS@aws.connect.psdb.cloud/twitter-clone_app?sslaccept=strict'

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth GOOGLE Provider
GOOGLE_CLIENT_ID="325064340418-tcmk33p1t14g6uf1a2ilvd9p39d4ogm9.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
